// Define your SCSS variables here

$primary-color: #053540;
$secondary-color: #2ecc71;
$font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$padding-base: 16px;
$margin-base: 16px;
$text-color: #333;
$background-light: #f4f4f4;
$button-primary: #053540;
$button-secondary: #2ecc71;
